@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,300&family=Roboto:ital,wght@0,300;1,300;1,400&display=swap');

.whole{
    margin-left: 230px;
    margin-top: 96px;
    margin-bottom: 104px;
}

.container_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_two {
    max-width: 1440px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img {
    width: 505px;
    height: 330px;
    margin-bottom: 100px;
}

/*TEXT*/
.text {
    width: 505px;
    height: 330px;
    margin-bottom: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    width: 380px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content {
    width: 380px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 42px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

/*BUTTON*/
button {
    width: 128px;
    height: 48px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color:#FFFFFF;
    border-style: none;
    border-radius: 20px;
    background-color: #E4C1AE;
 
    padding: 16px 40px;
}
